.houseDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 156px;
    position: relative;
    top: 156px;
     
}


.flags{   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__img{
        object-fit: contain;
        width: 100%;
        height: 320px;
    }
    &__text{
       font-size: 36px;
    }

}


.list{
    display: flex;
    justify-content: center;
    h2{
        font-size: 24px;
    }
    p{
        font-size: 16px; 
        font-family: 'lato';  
    }

    &__words{
        width: 248px;

        img{
            object-fit: contain;
            width: 100%;
            height: 230px;
        }   
    }
    &__seat{
        width: 248px;
        height: 230px;  
    }
    &__region{
        width: 248px;
    }
    &__allegiance{
        width: 248px;
        height: 230px;
    }
    &__religion{
        width: 248px;
        height: 230px;
    }
    &__createdAt{
        width: 248px;
       
        
    }
    

}